/* main container */
@media screen and (min-width: 481px) {
  body {
    width: 480px;
    position: relative;
    box-shadow: 0 0 17px 3px rgb(187 187 187 / 50%);
  }
  .container {
    width: 480px;
    margin: 0px auto;
  }
}

body {
  background-color: rgb(218, 218, 218);
  margin: 0px auto;
}

.container {
  background-color: rgb(255, 255, 255);
}